body {
    font-family: serif;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    background-color: azure;
    color: gold;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmin 20vmin;
    width: 100%;
}
button {
    transition: 0.3s;
    width: 30vmin;
    height: 30vmin;
    font-size: 5vmin;
    margin-top: -7vmin;
    cursor: pointer;
    background-color: white;
    color: fuchsia;
}
button:hover {
    transition: 0.3s;
    box-shadow: 1vmin 1vmin 3vmin black;
}
img {
    width: 20vmin;
    height: 20vmin;
}
.psc {
    font-size: 40vmin;
    float: left;
    margin-left: 20vmin;
    margin-top: -10vmin;
    color:green;
}
.csc {
    font-size: 40vmin;
    float: right;
    margin-right: 20vmin;
    margin-top: -10vmin;
    color: red;
}
.tb {
    width: 15vmin;
    font-size: 5vmin;
    margin-left: calc(50% - 8vmin);
    margin-top: 0vmin;
    color: orange; 
}